<div class="tag">
	<span>Welcome John</span>
</div>
<div>
<p>Thanks for trusting us. </p>
<p>We truthfully want to serve you better.</p>
<p>We genuinely believe in to build long-lasting relationship.</p>

<div class="tag">
	<span>Prototype</span>
</div>

<div>
<br/>	<%= link_to "Prototype: HTML 5", html5_path %><br/><br/>
	<%= link_to "Prototype: Javascript", javascript_path%>
</div>
</div>